<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Focal Point{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/themes/base/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-xs navbar-dark navbar-fixed-top bg-inverse">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                Focal5<strong>Point</strong>
            </a>

            <ul class="nav navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item{% if app.request.attributes.get('_route') starts with 'admin_' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('admin_org_list') }}">
                            <i class="fa fa-bolt" aria-hidden="true"></i> Administration
                        </a>
                    </li>
                    <li class="nav-item divider-vertical"></li>

                {% endif %}
            </ul>
            <ul class="nav navbar-nav pull-xs-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item btn-group ">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i> <span class="hidden-sm-down">{{ app.user.displayName }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuProfile">
                            <div class="dropdown-item">
                                Signed in as<br /><em>{{ app.user.displayName }}</em>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i> Your profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('security_logout') }}">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_login') }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                        </a>
                    </li>
                 {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-md-2 sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                <main>
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times; &nbsp;</span>
                                    </button>
                                    {{ flashMessage|trans }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </div>

    <footer>

    </footer>

    {% block javascripts %}
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('vendor/tether/dist/js/tether.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('vendor/pugxautocompleter/autocompleter-jqueryui.js') }}"></script>
    {% endblock %}
</body>
</html>
