{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block sidebar %}
    <div class="dropdown-divider"></div>
    <div class="nav-sidebar list-group">

        <a href="{{ path('event_new') }}"
           class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') starts with 'classes' %} active{% endif %}">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            <span class="hidden-sm-down">Add Event</span>
        </a>

    </div>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="date-changer">
                    <ul>
                        {% if previous_sunday is not empty %}
                            <li><a href="{{ path('schedule', {'timestamp': previous_sunday}) }}">Previous</a></li>
                        {% endif %}
                        {% if current_date is not empty %}
                            <li><a href="{{ path('schedule', {'timestamp': current_date}) }}">Current Week</a></li>
                        {% endif %}
                        {% if next_sunday is not empty %}
                            <li><a href="{{ path('schedule', {'timestamp': next_sunday}) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1>{{ month_year }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <table width="100%">
                    <thead>
                        <tr>
                            <th>{{ calendar.sun.display }}</th>
                            <th>{{ calendar.mon.display }}</th>
                            <th>{{ calendar.tue.display }}</th>
                            <th>{{ calendar.wed.display }}</th>
                            <th>{{ calendar.thur.display }}</th>
                            <th>{{ calendar.fri.display }}</th>
                            <th>{{ calendar.sat.display }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            {% for day in displayEvents %}
                            <td class="dayColumn" valign="top">
                                {% for event in day %}
                                    <div class="event" style="background:lightgrey; padding:5px; margin-bottom:10px;">
                                        <a href="{{ path('event_detail', {'id' : event.id, 'timestamp': event.timestamp}) }}">
                                            <div class="time">{{ event.start }} - {{ event.end }}</div>
                                            <div class="title">{{ event.title }}</div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </td>
                            {% endfor %}

                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
